/**
 * WARNING: These rules are very permissive.
 *
 * This ruleset allows any client that is authenticated to read, write, and delete
 * any data in your Firestore database. This is configured to bypass permission
 * errors during rapid development.
 *
 * This is NOT a secure configuration for a production environment. Before going
 * live, you should implement stricter rules that follow the principle of
 * least privilege.
 */
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents if the user is signed in.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
